In [1]:
from hypex.dataset import Dataset, ExperimentData, InfoRole, TreatmentRole, TargetRole, FeatureRole
from hypex.experiments.aa import AA_TEST
from hypex.reporters import AADictReporter

In [2]:
data = Dataset(
    roles={
        "user_id": InfoRole(),
        "signup_month": FeatureRole(),
        "treat": TreatmentRole(),
        "pre_spends": TargetRole(),
        "post_spends": TargetRole(),
        "age": FeatureRole(),
        "gender": FeatureRole(),
        "industry": FeatureRole(),
        "spend_for_candies": FeatureRole(),
    }, data="test_datafarame_with_corelation.csv",
)
data

      user_id  signup_month  treat  pre_spends  post_spends   age gender  \
0           0             0      0       488.0   414.444444   NaN      M
1           1             8      1       512.5   462.222222  26.0    NaN
2           2             7      1       483.0   479.444444  25.0      M
3           3             0      0       501.5   424.333333  39.0      M
4           4             1      1       543.0   514.555556  18.0      F
...       ...           ...    ...         ...          ...   ...    ...
9995     9995            10      1       538.5   450.444444  42.0      M
9996     9996             0      0       500.5   430.888889  26.0      F
9997     9997             3      1       473.0   534.111111  22.0      F
9998     9998             2      1       495.0   523.222222  67.0      F
9999     9999             7      1       508.0   475.888889  38.0      F

        industry  spend_for_candies
0     E-commerce         412.444444
1     E-commerce         460.222222
2      Logistics         477.444444
3     E-commerce         422.333333
4     E-commerce         512.555556
...          ...                ...
9995   Logistics         448.444444
9996   Logistics         428.888889
9997  E-commerce         532.111111
9998  E-commerce         521.222222
9999  E-commerce         473.888889

[10000 rows x 9 columns]

In [3]:
data.data

,user_id,signup_month,treat,pre_spends,post_spends,age,gender,industry,spend_for_candies
0,0,0,0,488.0,414.444444,NaN,M,E-commerce,412.444444
1,1,8,1,512.5,462.222222,26.0,NaN,E-commerce,460.222222
2,2,7,1,483.0,479.444444,25.0,M,Logistics,477.444444
3,3,0,0,501.5,424.333333,39.0,M,E-commerce,422.333333
4,4,1,1,543.0,514.555556,18.0,F,E-commerce,512.555556
...,...,...,...,...,...,...,...,...,...
9995,9995,10,1,538.5,450.444444,42.0,M,Logistics,448.444444
9996,9996,0,0,500.5,430.888889,26.0,F,Logistics,428.888889
9997,9997,3,1,473.0,534.111111,22.0,F,E-commerce,532.111111
9998,9998,2,1,495.0,523.222222,67.0,F,E-commerce,521.222222
9999,9999,7,1,508.0,475.888889,38.0,F,E-commerce,473.888889

In [4]:
data.roles

{'user_id': Info(<class 'int'>),
 'signup_month': Feature(<class 'int'>),
 'treat': Treatment(<class 'int'>),
 'pre_spends': Target(<class 'float'>),
 'post_spends': Target(<class 'float'>),
 'age': Feature(<class 'float'>),
 'gender': Feature(<class 'str'>),
 'industry': Feature(<class 'str'>),
 'spend_for_candies': Feature(<class 'float'>)}

In [5]:
test = AA_TEST
ed = ExperimentData(data)
result = test.execute(ed)

In [6]:
result.ds.data

,user_id,signup_month,treat,pre_spends,post_spends,age,gender,industry,spend_for_candies
0,0,0,0,488.0,414.444444,NaN,M,E-commerce,412.444444
1,1,8,1,512.5,462.222222,26.0,NaN,E-commerce,460.222222
2,2,7,1,483.0,479.444444,25.0,M,Logistics,477.444444
3,3,0,0,501.5,424.333333,39.0,M,E-commerce,422.333333
5,5,6,1,486.5,486.555556,44.0,M,E-commerce,484.555556
...,...,...,...,...,...,...,...,...,...
9992,9992,0,0,491.5,424.000000,29.0,M,E-commerce,422.000000
9993,9993,5,1,462.0,509.888889,65.0,F,E-commerce,507.888889
9995,9995,10,1,538.5,450.444444,42.0,M,Logistics,448.444444
9996,9996,0,0,500.5,430.888889,26.0,F,Logistics,428.888889
9999,9999,7,1,508.0,475.888889,38.0,F,E-commerce,473.888889