# Matching pipline

The comparison method is used in statistical analysis to eliminate distortions caused by differences in the basic characteristics of the studied groups. Simply put, matching helps to make sure that the results of the experiment are really caused by the studied effect, and not by external factors.

Matching is most often performed in cases where the use of a standard AB test is impossible.

In [1]:
import copy

from hypex.dataset import Dataset, InfoRole, TreatmentRole, TargetRole 
from hypex.experiments.matching import Matching

C:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## Data preparation 

It is important to mark the data fields by assigning the appropriate roles:

* FeatureRole: a role for columns that contain features or predictor variables. Our split will be based on them. Applied by default if the role is not specified for the column.
* TreatmentRole: a role for columns that show the treatment or intervention.
* TargetRole: a role for columns that show the target or outcome variable.
* InfoRole: a role for columns that contain information about the data, such as user IDs.

In [2]:
data = Dataset(
    roles={
        "user_id": InfoRole(int),
        "treat": TreatmentRole(int), 
        "post_spends": TargetRole(float)
    }, data="data.csv",
)
data

      user_id  signup_month  treat  pre_spends  post_spends   age gender  \
0           0             0      0       488.0   414.444444   NaN      M
1           1             8      1       512.5   462.222222  26.0    NaN
2           2             7      1       483.0   479.444444  25.0      M
3           3             0      0       501.5   424.333333  39.0      M
4           4             1      1       543.0   514.555556  18.0      F
...       ...           ...    ...         ...          ...   ...    ...
9995     9995            10      1       538.5   450.444444  42.0      M
9996     9996             0      0       500.5   430.888889  26.0      F
9997     9997             3      1       473.0   534.111111  22.0      F
9998     9998             2      1       495.0   523.222222  67.0      F
9999     9999             7      1       508.0   475.888889  38.0      F

        industry
0     E-commerce
1     E-commerce
2      Logistics
3     E-commerce
4     E-commerce
...          ...
9995   Logistics
9996   Logistics
9997  E-commerce
9998  E-commerce
9999  E-commerce

[10000 rows x 8 columns]

In [3]:
data.roles

{'user_id': Info(<class 'int'>),
 'treat': Treatment(<class 'int'>),
 'post_spends': Target(<class 'float'>),
 'signup_month': Feature(<class 'int'>),
 'pre_spends': Feature(<class 'float'>),
 'age': Feature(<class 'float'>),
 'gender': Feature(<class 'str'>),
 'industry': Feature(<class 'str'>)}

## Simple Matching  
Now matching has 4 steps: 
1. Dummy Encoder 
2. Process Mahalanobis distance 
3. Two sides pairs searching by faiss 
4. Metrics (ATT, ATC, ATE) estimation depends on your data

In [4]:
data = data.fillna(method="bfill")

C:\Users\User\PycharmProjects\HypEx\hypex\dataset\backends\pandas_backend.py:385: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  return self.data.fillna(values, method=method, **kwargs)

In [17]:
c_data = copy.deepcopy(data)
test = Matching()
result = test.execute(c_data)

**ATT** shows the difference in treated group.   
**ATC** shows the difference in untreated group.   
**ATE** shows the weighted average difference between ATT and ATC.

In [18]:
result.resume

         ATT        ATC        ATE
0  64.343019  96.354156  80.553459

In [20]:
result.indexes

      FaissNearestNeighbors┴┴
0                        9433
1                        5438
2                        5165
3                        1735
4                         539
...                       ...
9995                     5893
9996                     7731
9997                     7066
9998                     1885
9999                     5748

[10000 rows x 1 columns]

In [21]:
result.full_data

      user_id  signup_month  treat  pre_spends  post_spends   age gender  \
0           0             0      0       488.0   414.444444  26.0      M
1           1             8      1       512.5   462.222222  26.0      M
2           2             7      1       483.0   479.444444  25.0      M
3           3             0      0       501.5   424.333333  39.0      M
4           4             1      1       543.0   514.555556  18.0      F
...       ...           ...    ...         ...          ...   ...    ...
9995     9995            10      1       538.5   450.444444  42.0      M
9996     9996             0      0       500.5   430.888889  26.0      F
9997     9997             3      1       473.0   534.111111  22.0      F
9998     9998             2      1       495.0   523.222222  67.0      F
9999     9999             7      1       508.0   475.888889  38.0      F

        industry  user_id_matched  signup_month_matched  treat_matched  \
0     E-commerce             9433                     1              1
1     E-commerce             5438                     0              0
2      Logistics             5165                     0              0
3     E-commerce             1735                     1              1
4     E-commerce              539                     0              0
...          ...              ...                   ...            ...
9995   Logistics             5893                     0              0
9996   Logistics             7731                     1              1
9997  E-commerce             7066                     0              0
9998  E-commerce             1885                     0              0
9999  E-commerce             5748                     0              0

      pre_spends_matched  post_spends_matched  age_matched gender_matched  \
0                  488.5           518.444444         37.0              F
1                  529.0           417.111111         23.0              F
2                  498.5           412.222222         25.0              F
3                  504.0           516.333333         33.0              M
4                  531.0           414.000000         20.0              F
...                  ...                  ...          ...            ...
9995               535.0           414.555556         40.0              M
9996               500.0           515.888889         25.0              M
9997               480.0           423.222222         22.0              F
9998               499.0           423.000000         67.0              F
9999               522.0           424.444444         36.0              M

     industry_matched
0           Logistics
1          E-commerce
2           Logistics
3           Logistics
4          E-commerce
...               ...
9995       E-commerce
9996        Logistics
9997        Logistics
9998        Logistics
9999       E-commerce

[10000 rows x 16 columns]

We can change **metric** and do estimation again.

In [22]:
c_data = copy.deepcopy(data)
test = Matching(metric="atc")
result = test.execute(c_data)

In [23]:
result.resume

         ATC
0  96.354156

In [24]:
result.indexes

      FaissNearestNeighbors┴┴
0                        9433
1                        5438
2                        5165
3                        1735
4                         539
...                       ...
9995                     5893
9996                     7731
9997                     7066
9998                     1885
9999                     5748

[10000 rows x 1 columns]

In [25]:
result.full_data

      user_id  signup_month  treat  pre_spends  post_spends   age gender  \
0           0             0      0       488.0   414.444444  26.0      M
1           1             8      1       512.5   462.222222  26.0      M
2           2             7      1       483.0   479.444444  25.0      M
3           3             0      0       501.5   424.333333  39.0      M
4           4             1      1       543.0   514.555556  18.0      F
...       ...           ...    ...         ...          ...   ...    ...
9995     9995            10      1       538.5   450.444444  42.0      M
9996     9996             0      0       500.5   430.888889  26.0      F
9997     9997             3      1       473.0   534.111111  22.0      F
9998     9998             2      1       495.0   523.222222  67.0      F
9999     9999             7      1       508.0   475.888889  38.0      F

        industry  user_id_matched  signup_month_matched  treat_matched  \
0     E-commerce             9433                     1              1
1     E-commerce             5438                     0              0
2      Logistics             5165                     0              0
3     E-commerce             1735                     1              1
4     E-commerce              539                     0              0
...          ...              ...                   ...            ...
9995   Logistics             5893                     0              0
9996   Logistics             7731                     1              1
9997  E-commerce             7066                     0              0
9998  E-commerce             1885                     0              0
9999  E-commerce             5748                     0              0

      pre_spends_matched  post_spends_matched  age_matched gender_matched  \
0                  488.5           518.444444         37.0              F
1                  529.0           417.111111         23.0              F
2                  498.5           412.222222         25.0              F
3                  504.0           516.333333         33.0              M
4                  531.0           414.000000         20.0              F
...                  ...                  ...          ...            ...
9995               535.0           414.555556         40.0              M
9996               500.0           515.888889         25.0              M
9997               480.0           423.222222         22.0              F
9998               499.0           423.000000         67.0              F
9999               522.0           424.444444         36.0              M

     industry_matched
0           Logistics
1          E-commerce
2           Logistics
3           Logistics
4          E-commerce
...               ...
9995       E-commerce
9996        Logistics
9997        Logistics
9998        Logistics
9999       E-commerce

[10000 rows x 16 columns]

Also it is possible to search pairs only in **test group**. This way we have metric "auto" and **ATT** will be estimated.

In [26]:
c_data = copy.deepcopy(data)
test = Matching(two_sides=False)
result = test.execute(c_data)

In [27]:
result.resume

         ATT
0  64.343019

In [28]:
result.indexes

      FaissNearestNeighbors┴┴
0                          -1
1                        5438
2                        5165
3                          -1
4                         539
...                       ...
9995                     5893
9996                       -1
9997                     7066
9998                     1885
9999                     5748

[10000 rows x 1 columns]

In [29]:
result.full_data

      user_id  signup_month  treat  pre_spends  post_spends   age gender  \
0           0             0      0       488.0   414.444444  26.0      M
1           1             8      1       512.5   462.222222  26.0      M
2           2             7      1       483.0   479.444444  25.0      M
3           3             0      0       501.5   424.333333  39.0      M
4           4             1      1       543.0   514.555556  18.0      F
...       ...           ...    ...         ...          ...   ...    ...
9995     9995            10      1       538.5   450.444444  42.0      M
9996     9996             0      0       500.5   430.888889  26.0      F
9997     9997             3      1       473.0   534.111111  22.0      F
9998     9998             2      1       495.0   523.222222  67.0      F
9999     9999             7      1       508.0   475.888889  38.0      F

        industry  user_id_matched  signup_month_matched  treat_matched  \
0     E-commerce              NaN                   NaN            NaN
1     E-commerce           5438.0                   0.0            0.0
2      Logistics           5165.0                   0.0            0.0
3     E-commerce              NaN                   NaN            NaN
4     E-commerce            539.0                   0.0            0.0
...          ...              ...                   ...            ...
9995   Logistics           5893.0                   0.0            0.0
9996   Logistics              NaN                   NaN            NaN
9997  E-commerce           7066.0                   0.0            0.0
9998  E-commerce           1885.0                   0.0            0.0
9999  E-commerce           5748.0                   0.0            0.0

      pre_spends_matched  post_spends_matched  age_matched gender_matched  \
0                    NaN                  NaN          NaN            NaN
1                  529.0           417.111111         23.0              F
2                  498.5           412.222222         25.0              F
3                    NaN                  NaN          NaN            NaN
4                  531.0           414.000000         20.0              F
...                  ...                  ...          ...            ...
9995               535.0           414.555556         40.0              M
9996                 NaN                  NaN          NaN            NaN
9997               480.0           423.222222         22.0              F
9998               499.0           423.000000         67.0              F
9999               522.0           424.444444         36.0              M

     industry_matched
0                 NaN
1          E-commerce
2           Logistics
3                 NaN
4          E-commerce
...               ...
9995       E-commerce
9996              NaN
9997        Logistics
9998        Logistics
9999       E-commerce

[10000 rows x 16 columns]

Finally, we may search pairs in L2 distance.

In [30]:
c_data = copy.deepcopy(data)
test = Matching(distance="l2", two_sides=False)
result = test.execute(c_data)

In [31]:
result.resume

         ATT
0  64.182315

In [32]:
result.indexes

      FaissNearestNeighbors┴┴
0                          -1
1                        2490
2                        5493
3                          -1
4                         321
...                       ...
9995                     5893
9996                       -1
9997                     8670
9998                      507
9999                     7155

[10000 rows x 1 columns]

In [33]:
result.full_data

      user_id  signup_month  treat  pre_spends  post_spends   age gender  \
0           0             0      0       488.0   414.444444  26.0      M
1           1             8      1       512.5   462.222222  26.0      M
2           2             7      1       483.0   479.444444  25.0      M
3           3             0      0       501.5   424.333333  39.0      M
4           4             1      1       543.0   514.555556  18.0      F
...       ...           ...    ...         ...          ...   ...    ...
9995     9995            10      1       538.5   450.444444  42.0      M
9996     9996             0      0       500.5   430.888889  26.0      F
9997     9997             3      1       473.0   534.111111  22.0      F
9998     9998             2      1       495.0   523.222222  67.0      F
9999     9999             7      1       508.0   475.888889  38.0      F

        industry  user_id_matched  signup_month_matched  treat_matched  \
0     E-commerce              NaN                   NaN            NaN
1     E-commerce           2490.0                   0.0            0.0
2      Logistics           5493.0                   0.0            0.0
3     E-commerce              NaN                   NaN            NaN
4     E-commerce            321.0                   0.0            0.0
...          ...              ...                   ...            ...
9995   Logistics           5893.0                   0.0            0.0
9996   Logistics              NaN                   NaN            NaN
9997  E-commerce           8670.0                   0.0            0.0
9998  E-commerce            507.0                   0.0            0.0
9999  E-commerce           7155.0                   0.0            0.0

      pre_spends_matched  post_spends_matched  age_matched gender_matched  \
0                    NaN                  NaN          NaN            NaN
1                  511.5           417.444444         27.0              F
2                  483.0           408.000000         25.0              M
3                    NaN                  NaN          NaN            NaN
4                  538.0           421.444444         29.0              M
...                  ...                  ...          ...            ...
9995               535.0           414.555556         40.0              M
9996                 NaN                  NaN          NaN            NaN
9997               473.0           415.777778         22.0              F
9998               495.0           429.777778         67.0              F
9999               509.5           415.000000         38.0              M

     industry_matched
0                 NaN
1          E-commerce
2          E-commerce
3                 NaN
4          E-commerce
...               ...
9995       E-commerce
9996              NaN
9997        Logistics
9998        Logistics
9999       E-commerce

[10000 rows x 16 columns]